{# app/templates/about.html #}

{% extends 'base.html' %}

{% block title %}A propos{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">A propos</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <br />
        <p>Python Projet IPI : George Abed et Gregory Bresolin - Création d'une boutique web sous FLASK sur le thème des livres</p>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock %}