{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Se connecter</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

  <div class="card-body">
      <form method="post">
          <div class="col">
          <div class="col-sm-6">
          <div class="form-group">
            <label for="username">Username</label>
             <input type="text" name="username" class="form-control" placeholder="Entrer un pseudo" id="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Entrer un mot de passe" id="password" required>
          </div>
            <button type="submit" class="btn btn-primary">Se connecter</button>
          </div>
          </div>
      </form>
      <div class="w-full text-center p-3">
        <span class="txt2">
        Nouveau?
        </span>
        <a href="/auth/register" class="txt2 bo1">
        Inscrivez-vous
        </a>
      </div>
  </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock %}