{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">S'enregistrer</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

  <div class="card-body">
      <form method="post">
          <div class="col">
          <div class="col-sm-6">
          <div class="form-group">
            <label for="username">Username</label>
             <input type="text" name="username" class="form-control" placeholder="Entrer un pseudo" id="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Entrer un mot de passe" id="password" required>
              <small id="passwordHelpBlock" class="form-text" style="color: red">Votre mot de passe doit comporter 6 caractères minimum, dont au moins 1 majuscule et 1 chiffre.</small>
          </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
          </div>
      </form>
  </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock %}