{% extends 'base.html' %}

{% block title %}404 - Page non trouvée{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Erreur 404</h1>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
          <br />
          <p>Oups ! Vous semblez perdu…</p>
          <img src="{{ url_for('static', filename='images/404.jpg') }}" class="img-fluid">
      </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

{% endblock %}